.scaleGrid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .scaleGridWrapper {
    border: 1px solid red;
    transform: translateY(-33%) translateX(-33%);
    transform-origin: center center;
    width: 300vw;
  }

  .scaleGridRow {
    /* height: desktop-vw(900px); */
  }

  .imgC {
    height: desktop-vw(900px);

    overflow: hidden;
    position: relative;
  }
}
